{% extends "base.html" %}

{% block content %}
<h1>Урок {{ lesson.id }}: {{ lesson.title }}</h1>

{{ lesson.content|safe }}
<h3>Задачи</h3>
<ul>
    {% for problem in lesson.problem_set.all %}
    <li><a href='{% url 'problem' problem.id %}'>{{ problem.title }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
